body {
  background: #34495e;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.tittle{
  font-size: 20px;
  border:  3px solid #123;
  padding:  10px;
  background-color:#234

}

.box {
  font-weight: bold;
  border:  5px solid #345;
  padding:  10px;
  background-color:#567;
}


